* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .panel {
    width: 60vw;
    height: 10vh;
    background: rgba(20, 20, 20, 0.8);
    border: 1px gray solid;
    border-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 20vw;
    border-radius: 1vw 1vw 0 0;
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    justify-items: center;
  }

  .panel *{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .Q {
    width: calc(2vw + 3vh);
    height: calc(2vw + 3vh);
    line-height: calc(2vw + 3vh);
    border-radius: 50%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2rem;
  }
img{
  width: calc(2vw + 3vh);
  height: calc(2vw + 3vh);
}
  .positiveS,
  .positiveT {
    background: red;
  }

  .negativeS,
  .negativeT {
    background: blue;
  }

  svg *,
  svg *:active {
    cursor: pointer;
  }
  .options{
    border: none;
  }
  .controls{
      position: absolute;
      width: 20vw;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 20;
      padding: 10px;
      background: rgba(20, 20, 20, 0.8);
      border-left: gray 1px solid;
      display: none;
      overflow-y: scroll;
      color: white;
  }
  .controls * {
    color: white;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  button{
    background: none;
    border: none;
    cursor: pointer;
  }
  .stop {
    background: none;
    border: none;
  }
  .anim {
    background: none;
    border: none;
  }
  .clear {
    background: none;
    border: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
  }